[Desktop Entry]
Name=BZFlag
Comment=Multiplayer 3D tank battle game
Comment[pl]=Wieloosobowa gra trójwymiarowa - bitwa czołgów
Icon=bzflag.png
Exec=bzflag
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
